<!DOCTYPE html>
<html>

<head>

<style>

body{
background:orange;
text-align:center;
font-family:Verdana;
}

h1{
font-size:50px;
}

</style>

</head>

<body>

<h1>🎉 Welcome <%= user.username %></h1>

<h2>🐔 Certified Chicken Engineer</h2>

<img src="https://media.giphy.com/media/l0HlBO7eyXzSZkJri/giphy.gif">

</body>

</html>
