<!DOCTYPE html>
<html>
<head>
<title>Crazy Chicken Signup</title>

<style>
body{
background:black;
color:yellow;
text-align:center;
font-family:Comic Sans MS;
}

input{
padding:10px;
margin:10px;
width:250px;
}

button{
padding:10px;
background:red;
color:white;
}
</style>
</head>

<body>

<h1>🐔 Crazy Chicken Club Signup 🐔</h1>

<form action="/signup" method="POST">

<input type="text" name="username" placeholder="Chicken Name" required>

<br>

<input type="email" name="email" placeholder="Chicken Email" required>

<br>

<input type="password" name="password" placeholder="Secret Egg Password" required>

<br>

<button>Create Chicken Account</button>

</form>

</body>
</html>
