<!DOCTYPE html>
<html>

<head>

<style>

body{
background:orange;
text-align:center;
font-family:Verdana;
}

h1{
font-size:50px;
}

</style>

</head>

<body>

<h1>🎉 Welcome <%= user.username %></h1>

<h2>Dengay iga</h2>

<img src="https://media1.tenor.com/m/NL7Ow06kpwYAAAAC/romba-thanks-vikram.gif">

</body>

</html>
