<!DOCTYPE html>
<html>
<head>

<title> Login with credentials</title>

<style>

body{
background:purple;
color:white;
text-align:center;
font-family:Arial;
}

input{
padding:10px;
margin:10px;
width:250px;
}

button{
background:lime;
padding:10px;
}

</style>

</head>

<body>

<h1>🐔 Login Portal 🐔</h1>

<form action="/login" method="POST">

<input type="email" name="email" placeholder="Email" required>

<br>

<input type="password" name="password" placeholder="Password" required>

<br>

<button>Enter Fight Club</button>

</form>

</body>
</html>
